# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Config
config/user_map.json

# Downloads folder
downloads/
downloads/*

# Other